<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.opcoach.restaurant.rcp.RestaurantApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Restaurant Perspective"
            class="com.opcoach.restaurant.rcp.Perspective"
            id="com.opcoach.restaurant.rcp.perspective.id">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.opcoach.restaurant.rcp.application"
            name="Restaurant Management">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.opcoach.restaurant.rcp.views.RestaurantView"
            id="com.opcoach.restaurant.rcp.view.tree"
            name="Restaurant Viewer"
            restorable="true">
      </view>
      <view
            class="com.opcoach.restaurant.rcp.views.MenuView"
            id="com.opcoach.restaurant.rcp.view.menu"
            name="Menu Viewer"
            restorable="true">
      </view>
   </extension>

</plugin>
