<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.opcoach.restaurant.rcp.RestaurantApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Restaurant Perspective"
            class="com.opcoach.restaurant.rcp.Perspective"
            id="com.opcoach.restaurant.rcp.perspective.id">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.opcoach.restaurant.rcp.application"
            name="Restaurant Management">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.opcoach.restaurant.rcp.views.RestaurantView"
            id="com.opcoach.restaurant.rcp.view.tree"
            name="Restaurant Viewer"
            restorable="true">
      </view>
      <view
            class="com.opcoach.restaurant.rcp.views.MenuView"
            id="com.opcoach.restaurant.rcp.view.menu"
            name="Menu Viewer"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.opcoach.restaurant.rcp.command.new.customer"
            name="Add Customer">
      </command>
      <command
            id="com.opcoach.restaurant.rcp.command.new.booking"
            name="Add Booking">
      </command>
      <command
            id="com.opcoach.restaurant.rcp.command.new.menu"
            name="Add Menu">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.opcoach.restaurant.rcp.handlers.AddCustomerHandler"
            commandId="com.opcoach.restaurant.rcp.command.new.customer">
      </handler>
      <handler
            class="com.opcoach.restaurant.rcp.handlers.AddBookingHandler"
            commandId="com.opcoach.restaurant.rcp.command.new.booking">
      </handler>
      <handler
            class="com.opcoach.restaurant.rcp.handlers.AddMenuHandler"
            commandId="com.opcoach.restaurant.rcp.command.new.menu">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.opcoach.restaurant.rcp.view.tree?after=additions">
         <command
               commandId="com.opcoach.restaurant.rcp.command.new.customer"
               icon="icons/add_customer.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.opcoach.restaurant.rcp.view.tree?after=additions">
         <command
               commandId="com.opcoach.restaurant.rcp.command.new.booking"
               icon="icons/add_booking.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.opcoach.restaurant.rcp.view.tree?after=additions">
         <command
               commandId="com.opcoach.restaurant.rcp.command.new.menu"
               icon="icons/alt_window16.gif"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
