<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.opcoach.restaurant.viewmodeleditor.editor.EObjectEditorPart"
            default="false"
            id="com.opcoach.restaurant.viewmodeleditor.editor.eObjectEditorPart"
            name="EObject editor">
      </editor>
   </extension>

</plugin>
