<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated menu -->
      <package
            uri="http://www.opcoach.com/restaurant/menu/1.0"
            class="com.opcoach.menu.MMenuPackage"
            genModel="model/menu.genmodel"/>
   </extension>

</plugin>
